In [1]:
import pandas as pd
import numpy as np

In [2]:
transactionFilepath = r'C:\Users\nikhi\Desktop\Quantium-task\QVI_transaction_data.xlsx'
customerFilepath = r'C:\Users\nikhi\Desktop\Quantium-task\QVI_purchase_behaviour.csv'

transactionData = pd.read_excel(transactionFilepath)
customerDate = pd.read_csv(customerFilepath)

In [8]:
# Exploring the transactionData
transactionData.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [9]:
transactionData.columns

Index(['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR',
       'PROD_NAME', 'PROD_QTY', 'TOT_SALES'],
      dtype='object')

In [10]:
customerDate.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [13]:
#checking if columns we would expect to be numeric are in numeric form and date columns are in date format
transactionData.dtypes

DATE                int64
STORE_NBR           int64
LYLTY_CARD_NBR      int64
TXN_ID              int64
PROD_NBR            int64
PROD_NAME          object
PROD_QTY            int64
TOT_SALES         float64
dtype: object

In [14]:
customerDate.columns

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER'], dtype='object')

In [15]:
#Here we are converting Date numeric into a proper Datestamp and saving it into a new column 'New_date'

transactionData['New_Date'] =pd.to_datetime(pd.to_numeric(transactionData.DATE,errors='coerce'),errors='coerce',origin='1899-12-30',unit='D')
transactionData['New_Date']

0        2018-10-17
1        2019-05-14
2        2019-05-20
3        2018-08-17
4        2018-08-18
            ...
264831   2019-03-09
264832   2018-08-13
264833   2018-11-06
264834   2018-12-27
264835   2018-09-22
Name: New_Date, Length: 264836, dtype: datetime64[ns]

In [19]:
# Summary of Products Name
transactionData.PROD_NAME.describe(include=['object'])

count                                     264836
unique                                       114
top       Kettle Mozzarella   Basil & Pesto 175g
freq                                        3304
Name: PROD_NAME, dtype: object

In [46]:
# transactionData.info(null_counts =True, verbose=True)
transactionData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  int64
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
 8   New_Date        264836 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 18.2+ MB

In [32]:
# Group data by PROD_NAME and summarize TOT_SALES

sale_by_product=transactionData.groupby(["PROD_NAME"])[["TOT_SALES"]].describe()
sale_by_product

                                       TOT_SALES                           \
                                           count      mean       std  min
PROD_NAME
Burger Rings 220g                         1564.0  4.367647  0.908819  2.3
CCs Nacho Cheese    175g                  1498.0  3.979907  0.737327  2.1
CCs Original 175g                         1514.0  3.994716  0.751063  2.1
CCs Tasty Cheese    175g                  1539.0  3.943470  0.796106  2.1
Cheetos Chs & Bacon Balls 190g            1479.0  6.249696  1.214938  3.3
...                                          ...       ...       ...  ...
WW Sour Cream &OnionStacked Chips 160g    1483.0  3.589885  0.731824  1.9
WW Supreme Cheese   Corn Chips 200g       1509.0  3.572101  0.644079  1.9
Woolworths Cheese   Rings 190g            1516.0  3.410026  0.645966  1.8
Woolworths Medium   Salsa 300g            1430.0  2.832168  0.535461  1.5
Woolworths Mild     Salsa 300g            1491.0  2.840040  0.589391  1.5


                                        25%  50%  75%   max
PROD_NAME
Burger Rings 220g                       4.6  4.6  4.6  11.5
CCs Nacho Cheese    175g                4.2  4.2  4.2  10.5
CCs Original 175g                       4.2  4.2  4.2  10.5
CCs Tasty Cheese    175g                4.2  4.2  4.2  10.5
Cheetos Chs & Bacon Balls 190g          6.6  6.6  6.6  16.5
...                                     ...  ...  ...   ...
WW Sour Cream &OnionStacked Chips 160g  3.8  3.8  3.8   9.5
WW Supreme Cheese   Corn Chips 200g     3.8  3.8  3.8   9.5
Woolworths Cheese   Rings 190g          3.6  3.6  3.6   9.0
Woolworths Medium   Salsa 300g          3.0  3.0  3.0   7.5
Woolworths Mild     Salsa 300g          3.0  3.0  3.0   7.5

[114 rows x 8 columns]

In [33]:
transactionData["PROD_NAME"].str.len() ## this also includes spaces

0         38
1         24
2         38
3         38
4         40
          ..
264831    39
264832    29
264833    24
264834    39
264835    29
Name: PROD_NAME, Length: 264836, dtype: int64

In [ ]:

# from nltk.corpus import stopwords
# stop = stopwords.words('Chips')

# transactionData['stopwords'] = transactionData['PROD_NAME'].apply(lambda x: len([x for x in x.split() if x in stop]))
# transactionData[['PROD_NAME','stopwords']].head()

In [41]:
transactionData["PROD_NAME"].describe().head()

count                                     264836
unique                                       114
top       Kettle Mozzarella   Basil & Pesto 175g
freq                                        3304
Name: PROD_NAME, dtype: object